<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.codingrecipe.project01.dto.BoardDTO" alias="BoardDTO"></typeAlias>
        <typeAlias type="com.codingrecipe.project01.dto.CategoryDTO" alias="CategoryDTO"></typeAlias>
        <typeAlias type="com.codingrecipe.project01.dto.CommentDTO" alias="CommentDTO"></typeAlias>
        <typeAlias type="com.codingrecipe.project01.dto.FileDTO" alias="FileDTO"></typeAlias>
    </typeAliases>
</configuration>